@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.btnStyle {
  background-color: #2873aa;
  border-radius: 20px;
  color: white;
  height: 40px;
  width: 100px;
  border: none;
  margin-right: 10px;
}
.homebtnStyle {
  background-color: #2873aa;
  border-radius: 20px;
  color: white;
  height: 40px;
  width: 100px;
  border: none;
}
.m-2 {
  margin: 16px;
}
.mb-4 {
  margin-bottom: 32px;
}
.container {
  display: flex;
  justify-content: flex-end;
}

.searchBar {
  font-family: "Poppins", sans-serif;
  width: 200px;
  border-radius: 20px;
  border: none;
  padding: 0.8rem 1rem;
  font-weight: bold;
}

.searchBar::placeholder {
  color: #e8e8e8;
}

.searchBar:focus {
  outline: none;
}

.homeContainer {
  height: 500px;
}

body {
  background-color: #d9d9d9;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 280px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer label {
  font-weight: bold;
  color: #4c4c4c;
}

.textbox {
  height: 42px;
  border-radius: 8px;
  border: 1px #4c4c4c solid;
  margin-bottom: 0.4rem;
  padding: 4px 8px;
}

input.textbox {
  height: 36px;
  padding: 4px 16px;
}

.modalStyle {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: white;
}

.formBtn {
  position: absolute;
  right: 10%;
  bottom: 10%;
}

.disp-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex-basis: 200px;
  flex-shrink: 1;
  margin-right: 16px;
}

.gallery-item {
  margin-bottom: 24px;
}

.gallery-item img.sm {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1300px) {
  .column {
    flex-basis: 240px;
    margin-right: 16px;
  }

  .gallery-item {
    margin-bottom: 16px;
  }
}

@media (max-width: 900px) {
  .column {
    flex-basis: 160px;
    margin-right: 8px;
  }

  .gallery-item {
    margin-bottom: 8px;
  }
}

.imageContainer {
  margin: auto;
  width: 80%;
}

@media (max-width: 1300px) {
  .imageContainer {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .imageContainer {
    width: 100%;
    margin: 0;
  }
}

.gallery-item {
  position: relative;
}

.gallery-item .imageContent {
  width: 100%;
  position: absolute;
  bottom: 6px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  padding: 0;
}

.gallery-item .imageContent h3 {
  margin: 2px;
}

.gallery-item .imageContent p {
  margin: 2px;
}

@keyframes fadeInAnimation {
  0%   {opacity: 1;}
  100%  {opacity: 0.3;}
}

@keyframes shakeAnimation {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes colourizeAnimation {
  0% {filter: grayscale(0%);}
  100% {filter: grayscale(100%);}
}

.inputWarning {
  border: 1px #e41111 solid;
}

.actionBtn {
  position: absolute;
  top: 0px;
  right: 1px;
  z-index: 100px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
}